@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
:root {
    font-family: "Gloria Hallelujah, cursive";
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
    
}
.link-button{
    text-decoration:none;
    color:white;
}
.link-button:hover{
    text-decoration: blink;
    
} 
.carousel-item img{
    opacity:0.5;
}
   /* background-color: rgb(219, 255, 209);
}

#ontop {

    position: relative;
    display: flex;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    height: 500px;
}

header {
   /* display: flex;
    justify-content: center;
    flex-wrap: wrap;*/
    font-family: 'Gloria Hallelujah', cursive;
    /*height: 500px;
    color: rgb(66, 140, 7);
    position: absolute;
    top: 0px;*/


}

header h1 {
    font-size: 4rem;}
    /*display: flex;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    font-size: 2rem;

}

.dropdown {
    flex-grow: 1;
    position: relative;
    display: inline-block;
    /* background-color: rgb(219, 255, 209);*/
  /*  padding: 15px;

}

.dropmenu {
    display: none;
    background-color: rgb(138, 216, 168);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    z-index: 1;
}

.dropdown:hover .dropmenu {
    display: flex;
    flex-direction: column;
}

.dropdown2 {
    flex-grow: 1;
    position: relative;
    display: inline-block;

    padding: 15px;

}

.dropmenu2 {
    display: none;
    background-color: rgb(138, 216, 168);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    z-index: 1;
}

.dropdown2:hover .dropmenu2 {
    display: flex;
    flex-direction: column;
}

.dropdown3 {
    flex-grow: 1;
    position: relative;
    display: inline-block;

    padding: 15px;

}

.dropmenu3 {
    display: none;
    background-color: rgb(138, 216, 168);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    z-index: 1;
}

.dropdown3:hover .dropmenu3 {
    display: flex;
    flex-direction: column;
}*/

/*header ul,
header li {
    display: flex;
    list-style-type: none;
}

header li {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 20px;
    border-color: green;
    font-size: 2em;
}*/
/*
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
}


img {
    width: 100%;
}

main .box {
    display: flex;
    /*flex-direction: row;*/
/*justify-content: space-around;
    align-content: center;
    padding: 2%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5em;

}

.greetings {
    flex-grow: 1;
    max-width: 500px;
    padding: 0 0 0 25px;
}

.pics {
    flex-grow: 1;
    padding: 0 5px 0 0;
}

main li {
    list-style-type: circle;
}

#comments {
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.comments {

    border: solid green 3px;
    font-size: 1em;
    font-family: cursive;
    margin: 5%;
}

footer {
    padding: 5%;
    display: flex;
    position: absolute;
}

#contact {
    display: flex;
    flex-direction: column;
    padding: 5%;
}




@media screen and (max-width: 620px) {
    #ontop {
        height: 220px;

    }

    header {
        flex-wrap: wrap;
        max-height: 220px;
        position: absolute;
        top: 0px;
        font-size:small;
    }
    h1 {

        padding: 1px;
        margin: 0px;
    }

    nav {
        font-size: 15px;
        display: flex;
        
        padding: 0;
    }
    dropdown, dropdown2,dropdown3 {
        width:100%;
    }
    main {
        flex-direction: column;

    }
    div.box {
        flex-direction: column-reverse;
        font-size: 0.8em;

    }

    img {
        width: 100%;
    }
    #comments {
        flex-direction: column;

    }

}
*/